---
layout: default
title: Platform
extra_css_classes: background-dark
---

{% include elements/vector_overview_list.html %}

{% include elements/question_and_call_back_links.html %}

<h4 class="text-center" style="margin-bottom:30px;">Find out more</h4>

<div class="container">
  <div class="row mb-80">
    <div class="col-sm-6 text-right text-center-sm mb-sm-15">
      <a class="btn btn-success btn-md" href="/public-sector/">Public Sector</a>
    </div>
    <div class="col-sm-6 text-center-sm">
      <a class="btn btn-success btn-md" href="/made-to-measure/">Made to Measure</a>
    </div>
  </div>
</div>




