---
layout: default
title: Public Sector
extra_css_classes: background-dark
---

<section id="about" class="wow fadeIn pt-60 dark-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
    
        <h3>Public Sector</h3>
        <div class="spacer-15"></div>
        <p class="lead mb-30">Offering an end-to-end waste management service and working with your existing contracts or specifying and procuring them from scratch - we deliver value for money. Our online operational waste management platform drives the efficiencies, service quality and accountability that the public sector requires.</p>
        <p>Anenta are proud to support the public sector. Serving both NHS England and local authorities, we have achieved significant financial savings and have innovated to improve services.</p>
        <p>We understand the challenges faced by public sector organisations and the difficulties faced as a result of changing governmental strategy. We are well versed in assisting our public sector partners in delivering their strategic targets.</p>
        <p>We drive efficiencies and innovation through our online management platform. Designed and developed in-house it enables rapid deployment of new services, communication to audiences large or small, financial control and overall operational management.</p>
    
      </div>
    </div>
  </div>
</section>

{% include elements/bespoke_services.html %}

{% include elements/service_stats.html %}

{% include elements/vector_overview_on_phone.html %}

{% include elements/question_and_call_back_links.html %}

{% include elements/testimonials.html %}