<!-- FOOTER -->
<footer class="footer pt-80">

  <div class="container">

    <div class="row footer-info mb-60">
      <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
        <a class="footer-logo" href="home.html">{% img 'layout/logo-black.png' %}</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
        <ul class="link">
          <li><a href="/">Home</a></li>                
          <li><a href="https://vector.anenta.com">Sign in</a></li>
          <li><a href="https://vector.anenta.com/register">Registration</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
        <ul class="link">
            <li><a href="/ready-to-go/">Ready to Go Waste Services</a></li>
            <li><a href="/made-to-measure/">Made to Measure Waste Service</a></li>
            <li><a href="/public-sector/">Public Sector Waste</a></li>
            <li><br/><a href="https://flu.anentawaste.com">Flu Season Waste</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 text-right text-center-sm">
        <p>{{ site.anenta.company_name }}<br/></p>
        {{ site.anenta.address | join: '<br/>' }}
        <ul class="link-small">
          <li><i class="fa fa-phone left"></i>{{ site.anenta.telephone }}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr />

  <section class="copyright ptb-60">
    <div class="container">
      <p class="">
        © {{ 'now' | date: "%Y" }} <a><b>{{ site.anenta.company_name }}</b></a>. All Rights Reserved.
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        Proud sponsors of <a href="/grasshoppers-rfc-sponsorship">Grasshoppers RFC <i class="fa fa-trophy"></i></a>
      </p>
    </div>
  </section>

</footer>
<!-- END FOOTER -->
