<!-- FOOTER -->
<footer class="footer pt-40">

  <div class="container">

    <div class="row footer-info mb-40">
      <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
        <a class="footer-logo" href="home.html">{% img 'layout/logo-white.png' %}</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
        <ul class="link">
          <li><a href="/">Home</a></li>                
          <li><a href="https://vector.anenta.com">Sign in</a></li>
          <li><a href="https://vector.anenta.com/register">Registration</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
        <ul class="link">
            <li><a href="/ready-to-go/">Ready to Go Waste</a></li>
            <li><a href="/made-to-measure/">Made to Measure Waste</a></li>
            <li><a href="/public-sector/">Public Sector Waste</a></li>
            <li><br/><a href="https://flu.anentawaste.com">Flu Season Waste</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 text-right text-center-sm">
        <p><span style="display:block; margin-bottom:5px;">{{ site.anenta.company_name }}</span>
          <span style="font-size:13px;">{{ site.anenta.address | join: '<br/>' }}</span>
          <ul class="link-small">
            <li><i class="fa fa-phone left"></i>{{ site.anenta.telephone }}</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <section class="ptb-60">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 certificates">
          <a href="/policies_licences_and_certificates">{% img 'logos/ISO-9001-registered.png' width:75 %}</a> &nbsp;
          <a href="/policies_licences_and_certificates">{% img 'logos/ISO-14001-registered.png' width:75 %}</a> 
        </div>
        <div class="col-sm-6 copyright">
          <br/>
          <p class="pb-5">
            Proud sponsors of <a href="/grasshoppers-rfc-sponsorship">Grasshoppers RFC <i class="fa fa-trophy"></i></a>
          </p>
          <p style="font-size:12px;">
            <a href="/policies_licences_and_certificates">Policies, Licences and Certificates</a>
            &nbsp;&bull;&nbsp;
            © {{ 'now' | date: "%Y" }} {{ site.anenta.company_name }}. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </section>

</footer>
<!-- END FOOTER -->
