<!-- FOOTER -->
<footer class="footer pt-80">
    <div class="container">
        <!--Footer Info -->
        <div class="row footer-info mb-60">
            <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                <a class="footer-logo" href="home.html"><img src="/images/layout/logo-black.png" /></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                <ul class="link">
                    <li><a href="/">Home</a></li>                
                    <li><a href="https://vector.anenta.com">Sign in</a></li>
                    <li><a href="https://vector.anenta.com/register">Registration</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                <ul class="link">
                    <li><a href="/ready-to-go/">Ready to Go Waste Services</a></li>
                    <li><a href="/made-to-measure/">Made to Measure Waste Service</a></li>
                    <li><a href="/public-sector/">Public Sector Waste</a></li>
                </ul>
            </div>
          
                <div class="col-md-3 col-sm-12 col-xs-12 text-right text-center-sm">
                    <p>Anenta Ltd<br/>The Light Bulb<br/>1 Filament Walk<br/>London, SW18 4GQ</p>
                    <ul class="link-small">
                        <li><i class="fa fa-phone left"></i>033 0122 2143</li>
                    </ul>
                </div>
          
        </div>
        <!-- End Footer Info -->
    </div>

    <hr />

    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                © 2015 <a><b>Anenta Ltd</b></a>. All Rights Reserved.
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->