---
layout: default
title: Ready to Go
extra_css_classes: background-dark
---

<section id="about" class="wow fadeIn pt-60 mb-60">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">

        <h3>Anenta Direct - Low Cost Waste</h3>
        <div class="spacer-15"></div>
        <p class="lead">We might have some of the most <strong>competitive prices</strong> on the market, but we certainly do not skimp on service quality. <strong>98% of all collections completed on time</strong> and we are always here to help if you have a problem.</p>
        <div class="spacer-15"></div>
        <p class="lead">Transparent pricing, no hidden fees, all managed online.</p>

      </div>
    </div>
  </div>
</section>

{% include elements/service_stats.html %}

<section class="pt-60 pt-sm-20 pb-40">
  <div class="container text-center">
     
    <h3>Pricing</h3>
    <p class="lead">We offer some of the most <strong>competitive prices</strong> on the market, have a look, we think you will agree!</p>
    <p class="lead"><strong>No hidden fees</strong>, there are no extra costs.</p>
    <div class="spacer-30"></div>
   
    <div class="row">
       <div class="col-md-3 mb-30">
         <div class="pricing-box">
            <div class="price-title spacing-box"><h4>General</h4></div>
            <hr />
            <div class="spacing-box">
            <div class="price"><span class="price-sm">&pound;</span><span class="price-lg">12</span></div>
              <div class="price-tenure">per 1100L Euro<i class="fa fa-asterisk"></i></div>
            </div>
            <hr />
            <div class="pricing-features spacing-grid">
              <ul>
                <li>Also available<br/>240L, 360L & 660L<br/>&nbsp;</li>
              </ul>
            </div>
            <hr />
            <div class="spacing-grid">
              <a href="https://vector.anenta.com/register" class="btn btn-md btn-success">Sign Up Today</a>
            </div>
          </div>
        </div>
     
        <div class="col-md-3 mb-30">
          <div class="pricing-box highlight">
            <div class="price-title spacing-box"><h4>Mixed Recycling</h4></div>
            <hr />
            <div class="spacing-box">
              <div class="price"><span class="price-sm">&pound;</span><span class="price-lg">8</span></div>
              <div class="price-tenure">per 1100L Euro<i class="fa fa-asterisk"></i></div>
            </div>
            <hr />
            <div class="pricing-features spacing-grid">
              <ul>
                <li>Also available<br/>240L, 360L & 660L<br/>&nbsp;</li>
              </ul>
            </div>
            <hr />
            <div class="spacing-grid">
              <a href="https://vector.anenta.com/register" class="btn btn-md btn-success">Sign Up Today</a>
            </div>
          </div>
        </div>
     
        <div class="col-md-3 mb-30">
          <div class="pricing-box">
            <div class="price-title spacing-box"><h4>Saniwaste</h4></div>
            <hr />
            <div class="spacing-box">
              <div class="price"><span class="price-sm">&pound;</span><span class="price-lg">3.24</span></div>
              <div class="price-tenure">per 20L Unit <i class="fa fa-asterisk"></i></div>
            </div>
            <hr />
            <div class="pricing-features spacing-grid">
              <ul>
                <li>Also available<br/>smaller 15L unit &<br/>Nappy Units from &pound;3.36</li>
              </ul>
            </div>
            <hr />
            <div class="spacing-grid">
              <a href="https://vector.anenta.com/register" class="btn btn-md btn-success">Sign Up Today</a>
            </div>
          </div>
        </div>
     
        <div class="col-md-3 mb-30">
          <div class="pricing-box">
            <div class="price-title spacing-box"><h4>Confidential</h4></div>
            <hr />
            <div class="spacing-box">
              <div class="price"><span class="price-sm">&pound;</span><span class="price-lg">24</span></div>
              <div class="price-tenure">per 120L Bin<i class="fa fa-asterisk"></i></div>
            </div>
            <hr />
            <div class="pricing-features spacing-grid">
              <ul>
                <li>Also available<br/>Bag service - from &pound;6<br/>&nbsp;</li>
              </ul>
            </div>
            <hr />
            <div class="spacing-grid">
              <a href="https://vector.anenta.com/register" class="btn btn-md btn-success">Sign Up Today</a>
            </div>
         </div>
      </div>

    </div>
  </div>

  <div class="text-center text-muted mb-30">
    <i class="fa fa-asterisk text-muted"></i> please note that all prices subject to location and are exclusive of VAT
  </div>

  <p class="lead text-center mb-20">We also have a full range of clinical & pharmaceutical waste services available whether hazardous or non-hazardous. <br/>If its not listed just let us know and we will get you what you need.</p>
 
  <p class="lead text-center mb-30">
        <a href="https://flu.anentawaste.com" class="btn btn-primary btn-sm">Pharmacy - Flu Season Waste</a>
  </p>
  
</section>

{% include elements/question_and_call_back_links.html %}

{% include elements/testimonials.html %}

{% include elements/vector_overview_on_phone.html %}

<p class="text-center mb-80">
  <span class="btn btn-md btn-primary open-send-us-a-message">Ask a question</span> &nbsp; 
  <a href="https://vector.anenta.com/register" class="btn btn-md btn-success">Sign Up Today</a>
</p>
