<section id="service" class="wow fadeIn pt-60 pb-60"> 
  <div class="container">
    
    <div class="row pb-40">
      <div class="col-md-2 text-center-sm">
        {% img 'icons/backed-list.png' class:'backed-icon' %}
      </div>
      <div class="col-md-10 text-center-sm">
          <h4>Taking on Existing Contracts</h4> 
          <p>Regardless of the number of contracts or locations you have under your control we can quickly bring your existing waste contracts on to our platform. We will then be able to give you control over the day to day operations of your waste services. When these contracts come up for renewal we will be able to simply specify and procure your new contracts based on the solid information held within our systems.</p>
      </div>
    </div>

    <div class="row pb-40">
      <div class="col-md-2 text-center-sm">
        {% img 'icons/backed-checklist.png' class:'backed-icon' %}
      </div>
      <div class="col-md-10 text-center-sm">
        <h4>Specification and Procurement of New Contracts</h4>
        <p>To deliver you the perfect waste contract we need to understand how your current contracts operate, both the good and the bad. If we already have your existing contract on our platform we can use that data to provide this information. If not we have substantial experience in assessing issues based on your existing invoices or bill backing data.</p>
        <p>Based on a solid understanding of your requirements and using our network of waste providers or by accessing Public Sector Frameworks, we will procure you a service that will save you money. All procurement is conducted under the strict guidance of your corporate financial instructions and budgetary limitations.</p>
      </div>
    </div>

    <div class="row pb-40">
      <div class="col-md-2 text-center-sm">
        {% img 'icons/backed-target.png' class:'backed-icon' %}
      </div>
      <div class="col-md-10 text-center-sm">
        <h4>Operational Management</h4>
        <p>Consistent operational management is key to the success of delivering and implementing your waste contract. Our experience has shown that unless you have robust systems in place to understand all the variables in delivering waste management services, it can quickly get out of hand.</p>
        <p>We have developed our online management platform to bring our clients, suppliers and other stakeholders to a single point of unified management. The platform ensures the delivery of the highest quality service from the chosen disposal provider, it tracks and resolves service level failures ensuring accountability at every level. </p>
        <p>Take a look and see some of what our ​*online management system*​ can do.</p>
      </div>
    </div>

    <div class="row pb-40">
      <div class="col-md-2 text-center-sm">
        {% img 'icons/backed-camera.png' class:'backed-icon' %}
      </div>
      <div class="col-md-10 text-center-sm">
        <h4>Financial Control</h4>
        <p>For each of your locations the platform knows exactly what has been specified to happen and when. Using this information we can validate the disposal providers invoices, making sure that you are only paying for the services they delivered. </p>
        <p>We track a range of KPIs that  let us and you know when they are succeeding and failing to deliver to the correct standard. </p>
        <p>From a detailed specification and the actual usage data for each and every location we are able to create detailed budgets, and what-if analysis helping you to manage risk, preparing for legislative change and future tendering and procurement.</p>
      </div>
    </div>      

  </div>
</section>