<!-- Client Logos Section -->
<section id="client-logos" class="wow fadeIn ptb ptb-sm-30">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            {% for client in site.data.client_logos %}
                <div class="item">
                    <div class="client-logo">
                        <img src="{{site.url}}{{site.baseurl}}/images/logos/{{client.image}}.jpg" alt="" />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Client Logos Section -->