<!-- Client Logos Section -->

Make into object
<section id="client-logos" class="wow fadeIn ptb ptb-sm-30">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/camden.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/grasshoppers.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/nhs-england.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/islington.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/mpp.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/soclean.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="{{ site.github.url }}/images/logos/ranc-care-homes.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client Logos Section -->