
<article>

  <h3 id="data-collection">Data collection</h3>

  <p>The following data is collected from all visitors for analytics purposes: anonymized IP address, browser details, pages visited within the site; and is retained forever. No personally-identifiable information is collected unless you consent.</p>

  <p>If you subscribe to my newsletter (through any form on this website, including forms for downloading freebies), the following data will be collected and retained:</p>

  <ul>
    <li>Email address and the name that you enter into the form; as well as the IP address and the page URL that you signed up from;</li>
    <li>A list of pages you visited on this website (including the pages you visited on this website <em>before</em> signing up. Note: before you sign up, the list is only kept in your browser and is <em>not</em> uploaded anywhere until after you confirmed your registration.);</li>
    <li>Which automated emails you opened and interacted with;</li>
    <li>Whether or not you have purchased any products from me.</li>
  </ul>

  <p>This information is used to send out newsletters and to personalize the website experience for you.</p>

  <p>This information is retained forever. Unsubscribing from newsletter stops further collection but does not delete any data collected before.</p>

  <p>You <strong>must be at least 16 years old</strong> to sign up on this website.</p>

  <h3 id="sharing-of-data">Sharing of Data</h3>

  <p>Your personal data is not shared with third parties except as listed below.</p>

  <p>We currently use:</p>

  <ul>
    <li>Google Analytics: no personally-identifiable information is shared;</li>
    <li>Drip: your name, email, IP address, list of pages you visited and emails you opened/clicked.</li>
    <li>FastSpring: your name, email, order history.</li>
  </ul>

  <h3 id="changes-to-the-privacy-policy">Changes to the Privacy Policy</h3>

  <p>This policy is subject to change.</p>

  <h3 id="questions">Questions</h3>

  <p>If you have any questions or concerns, please write to: <a href="mailto:privacy@goshakkk.name">privacy@goshakkk.name</a>.</p>

</article>
