  <section id="platform" class="wow fadeIn pt-60 pb-60 pb-sm-15">
  <div class="container">

    <div class="text-center pb-40">
      <h3>Online Waste Management Platform</h3>
      <p class="lead">Control your organisation's waste from a single centralised platform, giving you flexibility and control.</p>
    </div>

    <div class="row pb-60">
      <div class="col-sm-4 text-right service-image-right">
        {% asset 'icons/sided-services/delivery.png' class='visible-sm-inline visible-md-inline visible-lg-inline' %}
        {% asset 'icons/sided-services/delivery-sm.png' class='visible-xs-inline' %}
      </div>
      <div class="col-sm-5 service-text-right">
          <h4>Service Management</h4>
          <p>At the core of all Anenta services is our simple to use online waste management platform. This platform allows you to view and manage your site’s services. You can view your specifications, including the number and types of bins, frequency of collections and a calendar showing deliveries and collections. You can view and report service issues, including missed collections, rescheduling and ad-hoc collections request or the delivery of consumables.</p>
      </div>
    </div>


    <div class="row pb-60">

      <div class="col-sm-4 col-sm-push-8 service-image-left">
        {% asset 'icons/sided-services/loud-hailer.png' class='visible-sm-inline visible-md-inline visible-lg-inline' %}
        {% asset 'icons/sided-services/loud-hailer-sm.png' class='visible-xs-inline' %}
      </div>

      <div class="col-sm-5 col-sm-pull-1 service-text-left">
          <h4>Service Notifications</h4>
          <p>We will proactively send notifications of any changes which may impact service delivery. For example, if a collection will be missed we will notify anyone affected giving the reason it was missed and when it will be completed performed.</p>
      </div>

    </div>

    <div class="row pb-60">
      <div class="col-sm-4 text-right service-image-right">
        {% asset 'icons/sided-services/meeting.png' class='visible-sm-inline visible-md-inline visible-lg-inline' %}
        {% asset 'icons/sided-services/meeting-sm.png' class='visible-xs-inline' %}
      </div>
      <div class="col-sm-5 service-text-right">
          <h4>User Management</h4>
          <p>You can add multiple users to our online platform. All users can view a sites specification, open support tickets and report issues. Admin users also have the ability to manage specifications and view billing information etc. This gives you the power to be in full control and also save your organisation time in managing your waste collections.</p>
      </div>
    </div>


    <div class="row pb-60">

      <div class="col-sm-4 col-sm-push-8 service-image-left">
        {% asset 'icons/sided-services/box-and-clipboard.png' class='visible-sm-inline visible-md-inline visible-lg-inline' %}
        {% asset 'icons/sided-services/box-and-clipboard-sm.png' class='visible-xs-inline' %}
      </div>

      <div class="col-sm-5 col-sm-pull-1 service-text-left">
          <h4>Service Validation</h4>
          <p>Anenta’s waste platform knows when and what you should have collected as well as any service failures that may occur. We use this information to validate the accuracy of any invoice issued to you, ensuring you are only paying for the service that you requested. We spot and validate where additional collections are made or where more waste was collected than was requested.</p>
      </div>

    </div>

    <div class="row pb-60">
      <div class="col-sm-4 text-right service-image-right">
        {% asset 'icons/sided-services/graph-and-eyeglass.png' class='visible-sm-inline visible-md-inline visible-lg-inline' %}
        {% asset 'icons/sided-services/graph-and-eyeglass-sm.png' class='visible-xs-inline' %}
      </div>
      <div class="col-sm-5 service-text-right">
          <h4>Analysis</h4>
          <p>The first step to specify and procure the correct waste service for your organisation is to understand what you currently have. Our analysis identifies your current waste streams, their associated quantities and costs, and any recurring services issues. We are then in a position to be able to tailor a solution to fit your requirements.</p>
      </div>
    </div>



    <div class="row pb-30">
      <div class="col-sm-4 col-sm-push-8 service-image-left">
        {% asset 'icons/sided-services/target.png' class='visible-sm-inline visible-md-inline visible-lg-inline' %}
        {% asset 'icons/sided-services/target-sm.png' class='visible-xs-inline' %}
      </div>

      <div class="col-sm-5 col-sm-pull-1 service-text-left">
          <h4>Service Billing and Compliance</h4>
          <p>You have access to all billing information online, including invoices and service credits. We give you easy access to any required compliance documents including Waste Transfer Notes, Hazardous Waste Consignment Notes.</p>
      </div>

    </div>

  </div>
</section>
