<section id="features" class="pt-60 pb-60">
    <div class="container text-center">

    <div class="text-center pb-40">
      <h3>Online Waste Management Platform</h3>
      <p class="lead">Control your organisation's waste from a single centralised platform, giving you flexibility and control.</p>
    </div>
        <!-- <h3 class="mt-sm">Online Service</h3>
        <p class="lead">Responsive Waste Management</p>
        <div class="spacer-60"></div> -->
        <div class="row">
            <div class="wow fadeInLeft col-md-4">
                <div class="features-box-right">
                    <div class="features-icon-right"><i class="ion ion-ios-monitor-outline"></i></div>
                    <h5>Management</h5>
                    <p>
                      At the core of all Anenta services is our simple to use online waste management platform. This platform allows you to view and manage your site’s services. You can view your specifications, including the number and types of bins, frequency of collections and a calendar showing deliveries and collections. You can view and report service issues, including missed collections, rescheduling and ad-hoc collections request or the delivery of consumables.
                    </p>
                </div>
                <div class="features-box-right">
                    <div class="features-icon-right"><i class="ion ion-ios-videocam-outline"></i></div>
                    <h5>Notifications</h5>
                    <p>
                      We will proactively send notifications of any changes which may impact service delivery. For example, if a collection will be missed we will notify anyone affected giving the reason it was missed and when it will be completed performed.
                    </p>
                </div>
                <div class="features-box-right">
                    <div class="features-icon-right"><i class="ion ion-ios-barcode-outline"></i></div>
                    <h5>Support</h5>
                    <p>Our aim is to be totally transparent. All communications with Anenta will be held in support tickets, which are then available to you at all times. Our friendly support staff are able to help you with any guidance you need and any issues that arise.</p>
                </div>

            </div>
            <div class="wow fadeIn col-md-4 hidden-sm hidden-xs text-center">
                {% asset 'vector/mobile_phone.png' %}
            </div>
            <div class="wow fadeInRight col-md-4">
                <div class="features-box-left">
                    <div class="features-icon-left"><i class="ion ion-ios-eye-outline"></i></div>
                    <h5>Validation</h5>
                    <p>
                      Anenta's waste platform knows when and what you should have collected as well as any service failures that may occur. We use this information to validate the accuracy of any invoice issued to you, ensuring you are only paying for the service that you requested. We spot and validate where additional collections are made or where more waste was collected than was requested.
                    </p>
                </div>
                <div class="features-box-left">
                    <div class="features-icon-left"><i class="ion ion-ios-compose-outline"></i></div>
                    <h5>Users</h5>
                    <p>You can add multiple users to our online platform. All users can view a sites specification, open support tickets and report issues. Admin users also have the ability to manage specifications and view billing information etc. This gives you the power to be in full control and also save your organisation time in managing your waste collections.</p>
                </div>
                <div class="features-box-left">
                    <div class="features-icon-left"><i class="ion ion-ios-paper-outline"></i></div>
                    <h5>Billing and Compliance</h5>
                    <p>You have access to all billing information online, including invoices and service credits. We give you easy access to any required compliance documents including Waste Transfer Notes, Hazardous Waste Consignment Notes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
